.image-dialog {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(rgba(127, 127, 127, 0.2), rgba(127, 127, 127, 0.4), rgba(127, 127, 127, 0.2));
  background-size: 100% 400%;

  .image {
    object-fit: cover;
  }

  .image-title, .image-date {
    position: absolute;
    color: white;
    font-size: 27px;
    line-height: 1.4em;
    font-weight: 500;
  }

  .image-title {
    left: 10px;
    top: -40px;
  }

  .image-date {
    right: 10px;
    bottom: -40px;
  }

  &.loading {
    animation: wave 3s infinite;
  }
}

@keyframes wave {
  0% {
    background-position: 50% 0;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0;
  }
}

@media (max-width: 769px) {
  .image-dialog {
    .image-title, .image-date {
      font-size: 18px;
    }
  }
}

@media (max-width: 577px) {
  .image-dialog {
    .image-title {
      top: -50px;
    }
    .image-date {
      bottom: -50px;
    }
  }
}


